asn1crypto==0.24.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
cycler==0.10.0
Django==2.2.5
django-tastypie==0.14.2
idna==2.8
joblib==0.13.2
kiwisolver==1.1.0
matplotlib==3.1.1
mkl-fft==1.0.14
mkl-random==1.0.2
mkl-service==2.3.0
numpy==1.16.5
pandas==0.25.1
patsy==0.5.1
pycparser==2.19
pyOpenSSL==19.0.0
pyparsing==2.4.2
PySocks==1.7.0
python-dateutil==2.8.0
python-dotenv==0.10.3
python-mimeparse==1.6.0
pytz==2019.2
requests==2.22.0
scikit-learn==0.21.2
scipy==1.3.1
seaborn==0.9.0
six==1.12.0
sqlparse==0.3.0
statsmodels==0.10.1
tornado==6.0.3
urllib3==1.24.2